.body-2 {
  overflow: hidden;
}
/* Webpage Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/status-logo-loading.gif") no-repeat -9999px -9999px;
  /* path to your loading animation */
  background-color: #d1e3f4;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("../img/status-logo-loading.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
body {
  background: url("../img/noise-bg.jpg");
}
header {
  background: url("../img/header-bg.jpg") top center no-repeat;
  height: 607px;
}
header > .navbar {
  padding-top: 70px;
}
header .navbar-header {
  position: relative;
}
header .navbar-header .navbar-brand {
  width: auto;
  height: auto;
  padding: 0 15px;
  position: absolute;
  top: -40px;
}
.header-lab {
  background: url("../img/header-bg-2.jpg") top center no-repeat !important;
}
.wdl-nav {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  padding: 0 20px;
  background-color: #a5ad8d;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  float: right;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 0px 0px #797e6b;
  -moz-box-shadow: 0px 4px 0px 0px #797e6b;
  box-shadow: 0px 4px 0px 0px #797e6b;
}
.wdl-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white !important;
  text-shadow: 1px 1px #7d8662;
}
.wdl-nav > li > a:hover {
  color: #d3ddc0 !important;
}
.wdl-nav .active > a {
  background: none !important;
}
.navbar-inverse {
  background: none;
  border: none;
}
.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #d7e6f1;
}
.navbar-collapse {
  border-top: 0;
}
.wdl-tagline {
  background: url("../img/main-bg-1.gif") top center no-repeat;
}
.wdl-tagline .tagline {
  padding-right: 120px;
}
.wdl-tagline .tagline h1 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  padding-top: 110px;
  text-transform: uppercase;
  font-weight: 400;
  color: #f0d99e;
  text-shadow: #ffa201 0px 4px 0px;
}
.wdl-featured {
  background: url("../img/main-bg-1.gif") scroll center -455px no-repeat;
}
.wdl-featured .featured-experiment {
  position: relative;
}
.wdl-featured .featured-experiment li.arrow-next {
  position: absolute;
  top: 193px;
  left: 815px;
}
.wdl-featured .featured-experiment li.arrow-next a {
  background-color: transparent;
  border: none;
  width: inherit;
}
.wdl-featured .featured-experiment h1 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 27px;
  color: #f0d99e;
  text-transform: capitalize;
  padding-top: 215px;
  line-height: 45px;
  color: #f7be53;
  text-shadow: #030303 4px 4px 7px;
}
.wdl-featured .featured-experiment ul {
  padding-top: 15px;
  padding-left: 0;
  position: relative;
}
.wdl-featured .featured-experiment ul li {
  list-style: none;
  float: left;
}
.wdl-featured .featured-experiment ul li a {
  position: relative;
  background-color: white;
  display: block;
}
.wdl-featured .featured-experiment ul li a span {
  width: 260px;
  height: 210px;
  background: url("../img/icon-view-large.png") top left no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.wdl-featured .featured-experiment ul li a:hover span {
  transition: all 1s ease 0s !important;
  display: block !important;
}
.header-mobile-tablet {
  width: 100%;
}
.header-mobile-tablet h1 {
  margin-top: 40px !important;
  margin-bottom: 20px;
}
.wdl-featured-lab {
  background: url("../img/main-bg-3-x.gif") scroll center center repeat-y !important;
}
.wdl-featured-lab .web-design-experiment h1 {
  padding-top: 0 !important;
  margin-top: -30px;
}
.wdl-pipe-top {
  height: 351px;
  background: url("../img/main-bg-3.gif") scroll center top no-repeat;
}
.wdl-pipe-bot {
  height: 121px;
  background: url("../img/main-bg-3-b.gif") scroll center bottom no-repeat;
}
.wdl-about {
  background: url("../img/main-bg-1.gif") scroll center -1485px no-repeat;
}
.wdl-about .about {
  padding-top: 160px;
  padding-left: 20px;
}
.wdl-about .about h1,
.wdl-about .about h2 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 27px;
  color: #f0d99e;
  text-transform: capitalize;
  color: #f7be53;
  text-shadow: #030303 4px 4px 7px;
}
.wdl-about .about h2 {
  font-size: 21px;
  float: left;
}
.wdl-about .about p {
  padding-top: 15px;
  padding-right: 20%;
  color: #b7ac8f;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
.wdl-about .about img.arrow {
  margin-top: 25px;
  margin-left: 15px;
}
.wdl-skills {
  background: url("../img/main-bg-1.gif") scroll center -2592px no-repeat;
}
.wdl-skills .skills {
  padding-top: 230px;
  padding-left: 0px;
  margin-left: -50px;
}
.wdl-skills h1 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 27px;
  color: #f0d99e;
  text-transform: capitalize;
  color: #f7be53;
  text-shadow: #030303 4px 4px 7px;
}
.wdl-contact {
  background: url("../img/main-bg-1.gif") scroll center -3235px no-repeat;
  /* all */
  /* firefox 19+ */
  /* ie */
}
.wdl-contact .contact {
  padding-top: 210px;
  padding-left: 10px;
}
.wdl-contact h1 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 27px;
  color: #f0d99e;
  text-transform: capitalize;
  color: #f7be53;
  text-shadow: #030303 4px 4px 7px;
}
.wdl-contact form {
  width: 64%;
}
.wdl-contact input,
.wdl-contact textarea {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 45px;
  padding-left: 20px;
  background-color: black;
  border-color: #1c1912;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}
.wdl-contact input:focus,
.wdl-contact textarea:focus {
  box-shadow: none;
  border: 1px solid #b7ac8f;
}
.wdl-contact ::-webkit-input-placeholder {
  color: #f00;
}
.wdl-contact ::-moz-placeholder {
  color: #f00;
}
.wdl-contact :-ms-input-placeholder {
  color: #f00;
}
.wdl-contact input:-moz-placeholder {
  color: #f00;
}
.wdl-contact .btn-success {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 0px 0px #4e5240;
  -moz-box-shadow: 0px 4px 0px 0px #4e5240;
  box-shadow: 0px 4px 0px 0px #4e5240;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px #7d8662;
  padding: 7px 30px;
  background-color: #8e9870 !important;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
}
.navbar-toggle .icon-bar {
  height: 3px;
  width: 27px;
}
/* Photo gallery Preloaded */
#preload-01 {
  background: url("../img/header-bg-2.jpg") no-repeat -9999px -9999px;
}
#preload-02 {
  background: url("../img/img-digging-text.gif") no-repeat -9999px -9999px;
}
#preload-03 {
  background: url("../img/main-bg-3.gif") no-repeat -9999px -9999px;
}
#preload-04 {
  background: url("../img/main-bg-3-x.gif") no-repeat -9999px -9999px;
}
#preload-05 {
  background: url("../img/main-bg-3-b.gif") no-repeat -9999px -9999px;
}
#preload-06 {
  background: url("../img/x-close.png") no-repeat -9999px -9999px;
}
.modal-header {
  border-bottom: none !important;
}
.modal-open .modal {
  background: url("../img/transparent-bg.png");
}
.modal-dialog {
  max-width: 1100px;
}
.modal-body {
  padding: 0;
}
button.close {
  width: 64px;
  height: 64px;
  background: url("../img/x-close.png");
  position: absolute;
  top: -20px;
  right: -25px;
  z-index: 7777;
  opacity: 1;
}
.close:hover,
.close:focus {
  opacity: 1;
}
.form-control {
  color: #b7ac8f;
}
.form-control ::-webkit-input-placeholder {
  color: #000000;
}
.form-control :-moz-placeholder {
  color: #000000;
}
.form-control ::-moz-placeholder {
  color: #000000;
}
.form-control :-ms-input-placeholder {
  color: #000000;
}
.text-danger {
  color: #f7be53 !important;
  font-weight: 200;
  letter-spacing: 1px;
}
.text-danger ul {
  padding-top: 5px;
  padding-left: 0;
}
.text-danger ul li {
  list-style: none;
}
.text-danger ul li:before {
  padding-top: 5px;
  padding-right: 10px;
  content: url('../img/alert-ico.png');
}
textarea.form-control {
  height: 150px;
}
.form-group {
  margin-bottom: 8px;
}
.wdl-contact-bot {
  height: 100px;
  background: url("../img/main-bg-1.gif") scroll center -4120px no-repeat;
}
footer {
  padding-top: 150px;
  margin-top: 50px;
  background: url("../img/footer-bg.png") scroll center -20px no-repeat;
}
footer > .container {
  padding-bottom: 20px;
}
footer .footer-sub p {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #4f4633;
  padding: 20px 0 10px 0;
}
footer .footer-sub div + div > p {
  float: left;
}
footer .footer-sub div:last-child > p {
  float: right;
}
.bg-color-1 {
  background-color: #19150f;
}
.wdl-round-1 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.wdl-round-2 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.wdl-shadow-1 {
  -webkit-box-shadow: 0px 4px 0px 0px #797e6b;
  -moz-box-shadow: 0px 4px 0px 0px #797e6b;
  box-shadow: 0px 4px 0px 0px #797e6b;
}
.wdl-shadow-2 {
  -webkit-box-shadow: 0px 4px 0px 0px #4e5240;
  -moz-box-shadow: 0px 4px 0px 0px #4e5240;
  box-shadow: 0px 4px 0px 0px #4e5240;
}
.font-1 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
.font-2 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}
#back-top {
  bottom: 0;
  margin-bottom: 45px;
  margin-left: 20px;
  position: fixed;
}
#back-top a {
  color: #aab97d;
  display: block;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease 0s;
  width: 70px;
}
#back-top a:hover span {
  background-color: #13110d;
}
#back-top span {
  background: url("../img/arrow-scroll-up.png") no-repeat scroll center center #363123;
  border-radius: 15px;
  display: block;
  height: 70px;
  margin-bottom: 7px;
  transition: all 1s ease 0s;
  width: 70px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Firefox */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
.transparent-1 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Firefox */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
@media (max-width: 767px) {
  .wdl-main h1 {
    font-size: 50px;
    line-height: 65px;
  }
  .navbar-nav {
    margin: 7.5px -1px;
  }
  .wdl-nav > li:first-child {
    padding-top: 10px;
  }
  .wdl-nav > li:last-child {
    padding-bottom: 10px;
  }
  .wdl-nav > li > a {
    padding: 10px;
  }
  .wdl-tagline .tagline {
    padding-right: 20px !important;
  }
  .wdl-tagline .tagline h1 {
    padding-top: 30px;
  }
  .wdl-featured .featured-experiment li.arrow-next {
    position: relative;
    top: 0;
    left: 0;
  }
  .wdl-tagline {
    background: url("../img/main-bg-2.gif") top center no-repeat;
  }
  .wdl-featured {
    background: url("../img/main-bg-2.gif") scroll center -412px no-repeat;
  }
  .wdl-about,
  .wdl-skills,
  .wdl-contact {
    background: url("../img/main-bg-2.gif") scroll center -705px no-repeat;
  }
  .wdl-contact-bot {
    background: url("../img/main-bg-2.gif") scroll center -3530px no-repeat;
  }
  .wdl-tagline .tagline h1 {
    padding-bottom: 90px;
  }
  .wdl-featured .featured-experiment h1 {
    padding-top: 30px;
  }
  .wdl-about .about {
    padding-top: 40px;
  }
  .wdl-skills .skills {
    padding-top: 100px;
    margin-left: 0;
  }
  .wdl-contact .contact {
    padding-top: 60px;
  }
  .wdl-contact form {
    width: 99%;
  }
  .logo-xs > div {
    margin-bottom: 27px;
  }
  .wdl-tagline .tagline h1 {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    text-shadow: #ffa201 0px 2px 0px;
  }
  .wdl-featured .featured-experiment ul {
    margin-left: 35px;
  }
  .wdl-featured .featured-experiment h1 {
    text-align: center;
  }
  footer .footer-sub p {
    font-size: 16px;
    text-align: center;
    float: none;
  }
  footer .footer-sub div:last-child > p {
    padding-top: 0;
    float: none;
  }
  footer .logo-xs div:last-child img {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wdl-featured .featured-experiment ul li a img {
    width: 220px;
    height: auto;
  }
  .wdl-featured .featured-experiment li.arrow-next {
    top: 165px;
    left: 696px;
  }
  .wdl-tagline .tagline {
    padding-right: 0;
  }
  .wdl-about .about img.arrow {
    margin-left: 20px;
  }
  .wdl-skills .skills {
    padding-left: 0;
    margin-left: -20px;
  }
  .wdl-contact form {
    width: 84%;
  }
  .sm-arrow {
    width: 48px !important;
    height: 59px !important;
  }
  .wdl-featured .featured-experiment ul li a span {
    width: 220px;
    height: 180px;
    background: url("../img/icon-view-sm.png") top left no-repeat;
  }
  .wdl-featured .featured-experiment ul li a:hover span {
    transition: all 1s ease 0s !important;
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .wdl-featured .featured-experiment {
    margin-left: -30px;
  }
  .wdl-skills .skills {
    margin-left: 40px;
  }
}
@media (min-width: 1201px) and (max-width: 2400px) {
  header {
    background: url("../img/header-bg-lg.jpg") top center no-repeat;
  }
}
