# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/portfolio/screenshots/logo/img_screenshot24.psd
/portfolio/screenshots/logo/img_screenshot25.psd
/portfolio/screenshots/logo/img_screenshot30.psd
/portfolio/screenshots/mobiletab/img_screenshot12.psd
/portfolio/screenshots/mobiletab/img_screenshot8.psd

# Local env / Vercel
.env
.env.*
.vercel
