//
// East Founder - Custom Theme Variables
// --------------------------------------------------


//== Colors
//
//## Brand colors for use across the theme.
@ef-color-1:						#5954a4; //dark purple (primary)
@ef-color-2:						#3a3771; //darker purple
@ef-color-3:						#8382bc; //light purple
@ef-color-4:						#d0cfe7; //lighter purple
@ef-color-5:						#a4a3bb; //lighter purple (-10%)
@ef-color-6:						#bcbadf; //lighter purple (-20%)
@ef-color-7:						#e3e3f0; //lighter purple (-40%)
@ef-color-8:						#ecebf2; //lighter purple (-60%)
@ef-color-9:						#f8f8f8; //lightest purple
@ef-color-10:						#000000; //black
@ef-color-11:						#ffffff; //white
@ef-color-12:						#1c9bbf; //teal blue
@ef-color-13:						#0e8baf; //dark teal blue
@ef-color-14:						#c3c3c3; //gray
@ef-color-15:						#282828; //darker gray
@ef-color-16:						#e9faff; //light sky blue
@ef-color-17:						#75d4ef; //sky blue
@ef-color-18:						#f3763f; //orange
@ef-color-19:						#a3a3a3; //gray dark
@ef-color-20:						#e7e6ef; //lighter purple (-5%)
@ef-color-21:						#223339; //dark violet
@ef-color-22:						#aeacd7; //light violet
@ef-color-23:						#87dcf4; //light sky blue
@ef-color-24:						#c2e29f; //mint green
@ef-color-25:						#3a3771; //dark purple
@ef-color-26:						#f9f9f9; //lightest gray
@ef-color-27:						#e7e7e7; //lightest gray +10%

//bg color
@ef-primary-bg:						@ef-color-10;
@ef-secondary-bg:					@ef-color-9;

//border thickness
@ef-border-thick-1:					1px;
@ef-border-thick-2:					2px;
@ef-border-thick-3:					3px;
@ef-border-thick-4:					4px;

//border radius
@border-radius-base:				5px;
@border-radius-large:				7px;
@border-radius-small:				4px;

@ef-border-radius-100:				100px;

//border color
@ef-border-color-1:					@ef-color-14;

//** `.list-group-item` border color
@list-group-border:					#ddd;

//no style or transparent
@ef-none:							none; //no propery
@ef-no-border-color:				transparent; //no border color
@ef-zero:							0; //zero value

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:							@ef-color-9;
//** Global text color on `<body>`.
@text-color:						#282828; //dark grey

//** Global textual link color.
@link-color:						@ef-color-1;
//** Link hover color set via `darken()` function.
@link-hover-color:					darken(@link-color, 15%);

//== Jumbotron
@jumbotron-bg:						@ef-color-11;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
@btn-font-weight:                  normal;

//button style1
@ef-btn-style1-color:              @ef-color-11;
@ef-btn-style1-bg:                 @ef-color-1;
@ef-btn-style1-border:             @ef-no-border-color;

//button style2
@ef-btn-style2-color:              @ef-color-11;
@ef-btn-style2-bg:                 @ef-color-4;
@ef-btn-style2-border:             @ef-no-border-color;

//button style3
@ef-btn-style3-color:              @ef-color-1;
@ef-btn-style3-bg:                 @ef-color-11;
@ef-btn-style3-border:             @ef-no-border-color;

//button style4
@ef-btn-style4-color:              @ef-color-4;
@ef-btn-style4-bg:                 @ef-color-11;
@ef-btn-style4-border:             @ef-no-border-color;

//button style5
@ef-btn-style5-color:              @ef-color-11;
@ef-btn-style5-bg:                 @ef-color-3;
@ef-btn-style5-border:             @ef-no-border-color;

//button style6
@ef-btn-style6-color:              @ef-color-11;
@ef-btn-style6-bg:                 @ef-color-19;
@ef-btn-style6-border:             @ef-no-border-color;

//== Fonts
//
//## Specify custom location and filename

//** Load fonts from this directory.
@icon-font-path:					"../fonts/ef";

//EF font directory path
@ef-font-path:						"../fonts/ef/calibri";

//** File name for all font files.
//Calibri fonts
@ef-font-light:						"Calibri-Light";
@ef-font-light-italic:				"Calibri-Light-Italic";
@ef-font-regular:					"Calibri-Regular";
@ef-font-regular-italic:			"Calibri-Regular-Italic";
@ef-font-bold:						"Calibri-Bold";
@ef-font-bold-italic:				"Calibri-Bold-Italic";

//== EF font sizes
@ef-font-size-10:					10px;
@ef-font-size-11:					11px;
@ef-font-size-12:					12px;
@ef-font-size-13:					13px;
@ef-font-size-14:					14px;
@ef-font-size-15:					15px;
@ef-font-size-16:					16px;
@ef-font-size-17:					17px;
@ef-font-size-18:					18px;
@ef-font-size-19:					19px;
@ef-font-size-20:					20px;
@ef-font-size-21:					21px;
@ef-font-size-22:					22px;
@ef-font-size-23:					23px;
@ef-font-size-24:					24px;
@ef-font-size-25:					25px;
@ef-font-size-26:					26px;
@ef-font-size-27:					27px;
@ef-font-size-28:					28px;
@ef-font-size-29:					28px;
@ef-font-size-30:					30px;

//== Padding
@ef-padding-0:						   0;
@ef-padding-5:						 5px;
@ef-padding-10:						10px;
@ef-padding-15:						15px;
@ef-padding-20:						20px;
@ef-padding-25:						25px;
@ef-padding-30:						30px;
@ef-padding-35:						35px;
@ef-padding-40:						40px;
@ef-padding-45:						45px;
@ef-padding-50:						50px;

//== Margin
@ef-margin-0:						   0;
@ef-margin-5:						 5px;
@ef-margin-10:						10px;
@ef-margin-15:						15px;
@ef-margin-20:						20px;
@ef-margin-25:						25px;
@ef-margin-30:						30px;
@ef-margin-35:						35px;
@ef-margin-40:						40px;
@ef-margin-45:						45px;
@ef-margin-50:						50px;

//thumbnails sizes
@ef-thumb-size-xxxl:				145px;
@ef-thumb-size-xxl:					135px;
@ef-thumb-size-xl:					120px;
@ef-thumb-size-lg:					95px;
@ef-thumb-size-md:					80px;
@ef-thumb-size-sm:					40px;

//images directory path
@images: "../img";

