// Variables

@brand-primary: #fff;
@brand-success: #18BC9C;
@gray-lighter: lighten(#000, 93.5%);

@od-color1: #16a9d4;
@od-color2: #0099c5;
@od-color3: #a9ecff;
@od-color4: #136c91;
@od-color5: #ada579;
@od-color6: #b2aa80;
@od-color7: #565656;
@od-color8: #ff4400;
@od-color9: #253961;
